.main-header-container {
    position: fixed;
    width: 86%;
    display: flex;
    padding: 0% 7%;
    align-items: center;
    color: #202020;
    justify-content: space-between;
    transition: 300ms;
    height: 100px;
    background: #fff;
}

.main-header-container-1 {
    position: fixed;
    width: 86%;
    display: flex;
    padding: 0% 7%;
    align-items: center;
    color: #202020;
    justify-content: space-between;
    background: #fff;
    transition: 300ms;
    z-index: 100;
    -webkit-box-shadow: 0 8px 6px -6px #DDDDDD;
    -moz-box-shadow: 0 8px 6px -6px #DDDDDD;
    box-shadow: 0 8px 6px -6px #DDDDDD;
    height: 95px;
}

.logo-text {
    font-family: 'JosefinBold';
    text-decoration: none;
    color: #202020;
}

.header-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'JosefinBold';
    width: 60%;
    height: 100%;
}

.header-buttons-container > a{
    font-family: 'JosefinBold';
    text-decoration: none;
    color: #202020;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-buttons-container > a:hover {
    box-shadow: inset 0 -3px 0 #095CE5;
}

.social-logo-container {
    display: flex;
    justify-content: space-between;
    width: 10%;
}

.times-img {
    /* width: 10%; */
    height: 120%;
    transition: 400ms;
}

.time-img-small {
    /* width: 7%; */
    height: 70%;
    transition: 400ms;
}

.nav-icon {
    display: none;
}

.invisible {
    display: none;
}

.myLinks {
    display: none;
}


@media screen and (max-width: 1024px) {
    .nav-icon {
        display: block;
        color:#202020;
        font-size: 150%;
    }

    .logo-text {
        font-size: 150%;
    }

    .header-buttons-container {
        display: none;
    }
    
    .main-header-container {
        position: fixed;
        width: 86%;
        display: flex;
        padding: 3% 7%;
        align-items: center;
        color: #202020;
        justify-content: space-between;
        transition: 300ms;
        height: 70px;
    }

    .main-header-container-1 {
        position: fixed;
        width: 86%;
        display: flex;
        padding: 3% 7%;
        align-items: center;
        color: #202020;
        justify-content: space-between;
        transition: 300ms;
        height: 70px;
        background: #fff;
    }

    .myLinks {
        display: block;
        overflow: hidden;
        background-color: #fff;
        position: fixed;
        width: 100%;
        z-index: 15;
        top: 8%;
        left: 0;
        
    }

    .myLinks a {
        color: #202020;
        padding: 20px 7%;
        text-decoration: none;
        display: block;
        font-family: 'JosefinBold';
        font-size: 130%;
        letter-spacing: 0.3mm;
    }

    .myLinks a:hover {
        background-color: #ddd;
        color: #095CE5;
    }
}

@media screen and (max-width: 900px) {
    .main-header-container {
        position: fixed;
        width: 90%;
        display: flex;
        padding: 2% 5%;
        align-items: center;
        color: #fff;
        justify-content: space-between;
        transition: 300ms;
        height: auto;
        background: #202020;
    }

    .main-header-container-1 {
        position: fixed;
        width: 90%;
        display: flex;
        padding: 2% 5%;
        align-items: center;
        color: #fff;
        justify-content: space-between;
        transition: 300ms;
        height: auto;
        background: #202020;
        box-shadow: none;
    }

    .logo-text {
        font-size: 150%;
        color: #fff;
    }

    .nav-icon {
        display: block;
        color:#fff;
        font-size: 250%;
    }

    .myLinks {
        display: block;
        overflow: hidden;
        background-color: #202020;
        position: fixed;
        width: 100%;
        z-index: 15;
        top: 6%;
        left: 0;
        padding-bottom: 3%;
    }

    .myLinks a {
        color: #fff;
        padding: 25px 5%;
        text-decoration: none;
        display: block;
        font-family: 'JosefinBold';
        font-size: 130%;
        letter-spacing: 0.3mm;
    }

    .myLinks a:hover {
        background-color: #ddd;
        color: #095CE5;
    }

}

@media screen and (max-width: 500px) {
    .main-header-container {
        padding: 5%;
    }

    .main-header-container-1 {
        padding: 5%;
    }

    .logo-text {
        font-size: 100%;
    }
    
    .nav-icon {
        display: block;
        color:#fff;
        font-size: 150%;
    }

    .myLinks a {
        font-size: 100%;
    }

    .myLinks {
        display: block;
        overflow: hidden;
        background-color: #202020;
        position: fixed;
        width: 100%;
        z-index: 15;
        top: 7.5%;
        left: 0;
    }
}